<!-- header start hear -->
<header class="header_area">
    <div class="container">
        <div class="header_grid">
            <div class="header_logo">
                <a href="">
                    <span>ProductBringr</span>
                </a>
            </div>
            <div class="header_auth">
                <button type="button" class="btn btn_order">Create New order</button>
                <div class="profile_drop">
                    <button type="button">
                        <img src="../../../assets/images/header/user.jpg" class="user_thumb" alt="">
                    </button>
                    <div class="dropdown_content">
                        <ul>
                            <li>
                                <a href="#0">My profile</a>
                            </li>
                            <li>
                                <a href="#0">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header ends  hear -->